.promo {
  padding-top: 50px;
  text-align: center;
  img {
    border-radius: 15px;
  }
  .para {
    max-width: 50%;
    margin: 40px auto;
    i {
      display: block;
      font-size: 2em;
    }
  }
}

@media (min-width: 786px) {
  .promo {

    .para {
      float: left;
    }
    img {
      float: right;
    }
  }
}
