footer {
  background-color: $orange;
  color: $white;
  text-align: center;
}

@media (min-width: 786px) {
  footer {
    padding: 20px 10%;
    display: flex;
    justify-content: flex-end;
    .footer-links {
      text-align: center;
      .link {
        display: inline-block;
      }
    }
    text-align: right;
    p {
      padding-left: 10px;
    }
  }
}

@media (min-width: 768px) and (min-height: 850px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
