.hero {
  padding-top: 60px;
  padding: 60px 30px;
  background-image: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)), url('../imgs/hero.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    font-size: 2em;
  }
  .btn {
    margin: 20px auto;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 6s00;
    background-color: $white;
    color: $orange;
    text-align: center;
    padding: 5px;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3.5em;
  }
}
